.header__burger {
  width: 24px;
  height: 18px;
  position: relative;
  align-self: center;
  display: none;
  box-sizing: border-box;
}

.header__burger:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .header__burger {
    display: block;
  }
}

.burger__line {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
}
.burger__line_first {
  top: 0;
}
.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line_third {
  bottom: 0;
}

.header__burger-close {
  width: 20px;
  height: 20px;
  position: relative;
  align-self: center;
}

.header__burger-close:hover {
  opacity: 0.6;
}

.header__burger-close-line {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
}

.header__burger-close-line_first {
  margin-top: 9px;
  transform: rotate(45deg);
}

.header__burger-close-line_second {
  margin-top: 9px;
  transform: rotate(-45deg);
}

.header__burger-opened {
  min-height: 142px;
  width: 100%;
  display: none;
}

@media screen and (max-width: 500px) {
  .header__burger-opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__email_place_burger {
  text-align: center;
  margin: 40px 0 18px;
}
